/* common css start */
	body {
		font-family: sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #0f2656;
	}
/* common css end */
/* header start */
	header {
		padding: 15px 0;
	}
	.container {
		margin: 0 auto;
		width: 80%;
		overflow: hidden;
	}
	.logo {
		width: 15%;
		float: left;
	}
	.logo img {
		width: 100%;
		padding-top: 2px;
	}
	.menu {
		width: 85%;
	}
	.min-menu {}
	.menu-bar {
		width: 70%;
		float: left;
	}
	.menu-list li {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0px 0px;
	} 
	.menu-list li a:first-child {
		padding-left: 0px;
	}
	
	.menu-list li a {
		font-weight: 700;
		color: #434057;
		padding: 0px 30px;
		text-decoration: none;

	}
	.menu-list li a:hover {
		color: #008aff;
	}
	.button {
		padding-top: 0;
		float: right;
	}
	#button {
		width: 200px;
		height: 52px;
		background-color: #ff6162;
		font-weight: 700;
		border-radius: 5px;
		border: 1px solid #ff6162;
	}
	#button a {
		text-decoration: none;
		color: #ffffff;
	}
/* header end */
/* banner start */
	.banner {
		padding-top: 80px;
	}
	.container1 {
		width: 80%;
	    margin: 0 auto;
		overflow: hidden;
	}
	.banner_text {
		width: 50%;
		float: left;
		box-sizing: border-box;
		font-size: 35px;
	}
	.banner_heading {
		font-size: 50px;
		margin: 0;
		padding: 48px 100px 10px 20px;
	}
	.banner_description {
		font-size: 18px;
		line-height: 20px;
		color: #a2a4bf;
		padding: 0px 20px 0px 20px;
	}
	.banner-icon {
		padding: 20px 0px 0px 20px;
	}
	.banner-image {
		width: 50%;
		float: right;
		padding-left: 20px;
		box-sizing: border-box;
	}
	.banner-image img {
		width: 100%;
	}
/* banner end */
/* service start */
	.service {}
	.container2 {
		margin: 0 auto;
		font-family: serif;
		font-size: 16px;
		font-weight: 400;
		width: 96%;
		padding: 70px 0;
		text-align: center;
		overflow: hidden;
	}

	.h1 {
		padding: 40px 0;
	}
	.S_h1 {
		margin: 11px 0;
		font-size: 50px;
		color: ;
	}
	.S_h2 {
		margin: 0;
		font-size: 15px;
		color: #7280AB;
		line-height: 25px;
	}
	.single_service {
		margin-right: 12.81px;
		width: 24%;
		float: left;
		box-sizing: border-box;
	}
	.single_service:hover {
		color: #F5F5F5;
	}
	.ss_img {

	}
	.ss_img img {
		width: 100%;
	}
	.ss_img img:hover{
		color: #F5F5F5;
	}

/* service end */
/* Features start */
	.Features {
		padding-top: 250px;
	}
	.demo-heading {
		font-family: sans-serif;
		font-size: 30px;
		text-align: center;
	}
	.demo-paragraph {
		padding: 0px 400px 20px 400;
		font-family: "Playfair Display", serif;
		font-style: italic;
		font-size: 18px;
		color: #72808e;
		text-align: center;
	}
	.row {
		margin: 30px 15%;
		overflow: hidden;
		box-sizing: border-box;
	}
	.feature-card:first-child {
		margin-left: 0.5%;
	}
	.feature-card {
		width: 30%;
		height: 250px;
		float: left;
		margin: 0 15px;
		background-color: #f5f5f5;
		border-radius: 8px;
		box-sizing: border-box;
		text-align: center;
	}
	.feature-image {
		padding: 5px 0;
	}
	img {
		overflow-clip-margin: content-box;
		overflow: clip;
	}
	.feature-card h2,  .feature-card p{
		font-family: "Montserrat", sans-serif;
		text-align: center;
	}
	.feature-card h2 {
		margin: 0;
		padding: 10px 0;
		font-size: 16px;
	}
	.feature-card p {
		margin: 0;
		padding: 10px 15px;
		font-size: 14px;
		font-weight: 500;
		color: #7b7e7f;
	}
/* footer start */
	footer {
		text-align: center;
		background-color: #292640;
	}
	footer h2, footer p {
		color: #ffffff;
	}
	footer h2 {
		font-size: 45px;
		padding: 80px 450px 35px 450px;
	}
	#call-button {
    width: 200px;
    height: 52px;
    background-color: #ff6162;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #ff6162;
	}
	#call-button a {
		text-decoration: none;
		color: white;
	}
	footer img {
		display: block;
		margin: 0 auto;
		padding: 25px 0;
	}
	element.style {
    display: block;
	}
	#myBtn {
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		background-color: red;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 4px;
	}
	footer {
		display: block;
	}
	body {
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		color: #292640;
	}
/* footer end */